@import "tailwindcss";

:root {
  --font-family-display: "Poppins", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-body: "Poppins", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";

  --font-size-display-xs: 16px;
  --line-height-display-xs: 24px;

  --font-size-text-md: 16px;
  --line-height-text-md: 24px;

  --font-size-text-sm: 14px;
  --line-height-text-sm: 20px;

  --Neutral-25: #fdfdfd;
  --Neutral-400: #a4a7ae;
  --Neutral-800: #252b37;
  --Neutral-900: #181d27;
}

html,
body,
#root {
  height: 100%;
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  font-family: var(--font-family-display);
}

/* Use a custom clear button for search inputs where we render one. */
input.search-clear-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.app-header {
  z-index: 9999 !important;
  background-color: transparent !important;
}
